
:root{
    --cor1 :#035963;
    --cor2 :#528c45;
    --cor3 :#74b567;
    --cor4 :#81c273;
    --cor5 :#f5f5f5;
    --cor6 :#104349;
    --cor7 :#16737e;
    --cor8 :#9cd190;
}
@media (max-width: 575.98px) { 
    footer.footer div ul li{
        font-size: 16px;
    }
    body footer.footer h2{
        font-size: 27px;
    }
    nav.navbar a.navbar-brand.classA{
        font-size: 27px;
    }
    footer.footer i.fab{
        font-size: 16px;
    }
    footer.footer i.fas{
        font-size: 16px;
    }

}


@media (max-width: 767.98px) { 
    div.carousel{
        max-width: 700px;
        width: auto;    
    }

    footer.footer div ul li{
        font-size: 24px;
    }
    footer.footer h2{
        font-size: 30px;
    }
    a.navbar-brand.classA{
        font-size: 34px;
    }
    aside h2{
        font-size: 20px;

    }
    h5.card-title{
        font-size: 20px;

    }
    h3.preco{
        font-size: 14px;
    }
    div.card-body p{
        font-size: 12px;
    }
    h2.tituloCardap {
        font-size: 26px;
    }
    
}

@media (max-width: 991.98px) {
    div.carousel{
        max-width: 930px;
        width: auto;
       

    }
    footer.footer div ul li{
        font-size: 22px;

    }
    a.navbar-brand.classA{
        font-size: 30px;
    }
}


@media (max-width: 1199.98px) {
    div.carousel{
        max-width: 1000px;
        width: auto;
        margin: auto;
    }
 
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor1);
    font-family: 'Fira Sans Condensed', sans-serif;
}

.titulo{
    background-color: var(--cor1);
}
.tituloCont{
    text-align: center;
    background-color: var(--cor6);
    border-top: 2px solid var(--cor2);
}
.insta{
    width: 200px; height: 300px;
}

header img{
    display:block;
    
    margin: auto;
    max-width: 450px;
    max-height: 450px;
    width: auto;
    height: auto;
    padding-top: 86px;
    
}
iframe{
    margin: auto;
}
blockquote.instagram-media{
    margin: 0px;
}
blockquote{
    margin: auto;
}
.classA{
    color: rgb(22, 22, 22);
    font-size: 40px;
}
.classB{
    color: black;
    font-size: 25px;
}

.carousel{
    max-width: 200px;
    width: auto;
    margin: auto;
    
}
.btn-outline-success{
    border-color: var(--cor3);
}
.btn-outline-success:hover{
    
    background-color: var(--cor2);
}.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    background-color: var(--cor2);

}

header{
    background-color: var(--cor1);
}


.menu{
    position: fixed;
    width: 100%;
    background-color: var(--cor6);
    z-index: 1000;

}
aside{
    margin: auto;
    
}
aside p{
    margin: 5px;
   
    font-size:15px;
}
.tituloCardap{
    font-size: 33px;
   border-top: 4px solid var(--cor6);
    
    text-align: center;
    background-color: var(--cor7);
   

}
.cardCardapio{
    background-color: var(--cor7);
}
.card-title{
    font-size: 30px;

}
.preco{
    font-size: 20px;
}

footer{
    clear: both;
    background-color: var(--cor7);
    text-align: center;
    margin-top: 8px;
    
}
.nav-link{
    color: black;

}
.mapa{
    width: 100%;
    height: 600px;
    
}
.cardapioTab{
    background-color: var(--cor6);
}
footer h2 {
    font-size: 35px;
}
footer div a{
    color: #212529;
    text-decoration: none;
    padding-left: 5px;
    transition: 1s all ease;
}
i.fab , i.fas{
    padding-right: 5px;
}
footer div a:hover{
    color: white;
}
footer div i{
    
    font-size: 27px;
    color:var(--cor2);
    transition: 1s all ease;
    
}
footer div ul li{
    font-size: 27px;
}
footer div ul li:hover{
    color: var(--cor5);
    
}
footer div ul i:hover{
    color: var(--cor5);
    
}
ul {
    
    display: inline-block;
}
ul li{
    margin: 8px;
    font-size: 18px;
    padding-left: 5;
}